<h1 style="margin: 10px; text-align: center;">Add Reels</h1>

<div [formGroup]="storyDetailForm" enctype="multipart/form-data">

    <ng-container formArrayName="reels">

        <ng-container *ngFor="let reelForm of reels.controls; let i = index">

            <div [formGroupName]="i">

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                      <h3>{{reelForm.get('caption')!.value}}</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <img [src]="reelForm.get('image')!.value" class="img-responsive" style="max-width: 600px;">
                </div>
                <!-- <div class="col-md-4">
                  <div class="row">

                    <div class="col-md-6">
                      <mat-icon class="delete-btn float-end" (click)="deleteReel(i)">delete_forever</mat-icon>
                    </div>
                    <div class="col-md-6">
                      <mat-icon class="edit-btn float-end" (click)="onEdit(i)">edit</mat-icon>
                    </div>
                  </div>

                </div> -->

                <div class="col-md-4">
                  <div class="reel-actions" role="group" aria-label="Reel actions">
                    <!-- Edit button -->
                    <button
                      mat-icon-button
                      class="icon-btn icon-btn--edit float-start"
                      (click)="onEdit(i)"
                      aria-label="Edit reel"
                      title="Edit">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <!-- Delete button -->
                    <button
                      mat-icon-button
                      class="icon-btn icon-btn--delete float-end"
                      (click)="deleteReel(i)"
                      aria-label="Delete reel"
                      title="Delete">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </div>

              </div>

            </div>

        </ng-container>

    </ng-container>
    <br>

    <div class="row mb-3 mt-3">
      <div class="reel-actions" role="group" aria-label="Reel actions">

        <button
          mat-icon-button
          class="icon-btn-add float-center"
          (click)="addReel()"
          aria-label="Add more reels"
          title="Add more reels">
          <mat-icon>add</mat-icon>
      </button>
      </div>
    </div>

</div>
