psycopg2-binary==2.9.10
drf-spectacular
Pillow
pyotp
channels
PyJWT
google-auth
requests
django-filter
drf-nested-forms
Django
django-cors-headers
djangorestframework
python-dotenv
sqlparse
uvloop
djangorestframework-simplejwt
daphne
gunicorn
uwsgi
bleach