psycopg2-binary==2.9.10
drf-spectacular
Pillow
pyotp
channels
PyJWT
google-auth
requests
django-filter
drf-nested-forms
Django
django-cors-headers
djangorestframework
python-dotenv
sqlparse
uvloop
djangorestframework-simplejwt
daphne
gunicorn
uwsgi
bleach
amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
Django
kombu
packaging
prompt_toolkit
python-dateutil
redis
six
sqlparse
typing_extensions
tzdata
vine
wcwidth
