
<div class="data-form">

  <h2 class="title">Create New Story</h2>

    <mat-horizontal-stepper #stepper="matHorizontalStepper"
                            class="mat-elevation-z5" labelPosition="bottom">

        <mat-step [stepControl]="step1.storyStartForm" errorMessage="Story page in error">

          <app-story-new-parta #step1></app-story-new-parta>
            <ng-template matStepLabel>Story Details</ng-template>
            <div class="row">
              <div class="col-md-6 stepper-buttons">
                <button type="button" class="btn btn-primary float-start" (click)="onCancel()">Cancel</button>
              </div>
              <div class="col-md-6 stepper-buttons" *ngIf="!!step1.storyStartForm">
                <button class="btn btn-primary float-end" matStepperNext >Next</button>
              </div>
            </div>

        </mat-step>


        <mat-step [stepControl]="step2.storyDetailForm" errorMessage="Reel Page in error">

            <app-story-new-partb #step2></app-story-new-partb>

            <ng-template matStepLabel>Story Reels</ng-template>

            <div class="stepper-buttons">
              <button class="btn btn-primary float-start" matStepperPrevious>Back</button>

              <button class="btn btn-primary float-end"  color="primary"
                  [disabled]="!(step2.storyDetailForm.value.reels!.length > 0)"
                  (click)="submit(step1.storyStartForm.value, step2.storyDetailForm.value)">
                  Create Story
              </button>

            </div>


        </mat-step>

    </mat-horizontal-stepper>


</div>


<div class="scrolling-space">


</div>
