.card {
  margin: 20px auto;
  padding: 20px auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  border: 3px solid #0c527b !important;
  box-shadow: #0c2b57 1px 0 10px;
  max-width: 800px;

}
.card-title, .card-text {
  margin: 5px auto;
  padding: 5px auto;
}
