
<div class="container">
  <div *ngIf="(story$ | async) as story" class="row">
    <div class="mainrow">
      <h3>{{ story.title }}</h3>
      <p>{{ story.description }}</p>
      <p>{{ story.longDescription }}</p>
      <img [src]="story.image" alt="{{ story.title }}" class="card-img-top img-fluid">
      <div *ngFor="let tag of story.tags">
        <h5>TAG : {{ tag.name }}</h5>
      </div>
    </div>

    <div class="reelrow">
      <app-reel-item
        *ngFor="let reelEl of story.reels; let i = index"
        [storyId]="story.id"
        [reel]="reelEl"
        [index]="i"></app-reel-item>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button *ngIf="!!canShowButton" class="btn btn-primary float-start" (click)="onEditStory()">Edit Story</button>
          <button class="btn btn-primary float-end" *ngIf="!!chatroomID" (click)="goToChatRoom()">Goto Chat</button>
          <button class="btn btn-primary float-end" (click)="addComment()">Add Comment</button>

        </div>
      </div>
      <div class="row" style="height:20px"></div>
      <div class="row">
        <div class="col-md-12">
          <p class="float-start" *ngIf="comments.length > 0" style="color:#2292b7; vertical-align: middle; margin: 0 0 !important;"> Comments : {{comments.length}}</p>
          <p class="float-end" *ngIf="totalLikes > 0 || totalLoves > 0 || totalCelebrates > 0" style="cursor: pointer;color:#2292b7;text-decoration: underline;  vertical-align: middle;
            margin: 0 0 !important;" (click)="showReactionInfo()"> Likes : {{totalLikes}} , Loves : {{totalLoves}} & Celebrations : {{totalCelebrates }}</p>
        </div>
      </div>
    </div>




    <div class="commentrow" *ngIf="comments.length > 0">
      <app-story-comment-item
      *ngFor="let commentEl of comments; let i = index"
      [comment]="commentEl"
      [index]="i"></app-story-comment-item>
    </div>

  </div>

</div>
