<div class="story-new-reel">

  <h2 class="reel-title">New Reel</h2>

  <mat-dialog-content>

    <form [formGroup]="reelForm" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="caption">Caption</label>
            <input
              type="text"
              id="caption"
              formControlName="caption"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="imagerow">
            <div class="preview-card">
              <img *ngIf="imageUrl; else placeholder" [src]="imageUrl" alt="Reel preview">
              <ng-template #placeholder>
                <img src="assets/placeholder.png" alt="Upload placeholder">
              </ng-template>
            </div>
          </div>

        </div>
        <div class="col-4">
          <input #fileInput type="file"
                 id="upload-file-input"
                 accept="image/*"
                 (change)="onFileSelected($event)">
          <button mat-icon-button id="upload-file-button" (click)="onUploadButtonTrigger(fileInput)">
            <i class="material-icons icons">add_a_photo</i>
          </button>
        </div>
      </div>
    </form>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="action-btn primary" (click)="onSave()">Add Reel</button>
    <button class="action-btn cancel" (click)="onClose()">Cancel</button>
  </mat-dialog-actions>

</div>
