
<div class="story-grid">
  <div class="story-card">

    <!-- <img [src]="getImageUrl(story.image)" class="story-img" alt="story image" /> -->
    <app-fast-thumbnail
      [images]="getAllImagesForStoryAndReel({ limit: 10, useThumb: true })"
      [fps]="3"
      (clicked)="goToFeedReelList()">
    </app-fast-thumbnail>
    <div class="story-body">
      <h4>{{ story.title }}</h4>
      <p>{{ story.description }}</p>

      <div class="story-actions">
        <button class="btn" (click)="goToStoryDetail()">Watch Story</button>
      </div>
    </div>
  </div>
</div>
