

.btn {
  border: 3px solid;
  margin: 5px;
  border-image-slice: 1;
  background-color: #a0c9d5;
  -webkit-text-fill-color: black !important;
  text-decoration: none;
  color: black !important;
  width: 150px;
}
.btn:hover, .btn:focus {
  -webkit-text-fill-color: black !important;
  margin: 5px;
  border: 3px solid #0c527b !important;
  box-shadow: #0c2b57 1px 0 10px;
  text-decoration: underline;
  width: 150px;
}
